# clang-format配置
# 本配置基于clang-format 9.0
# 仅列出基于WebKit风格配置，并适配PCG代码规范的选项
# 具体参数可参阅：https://releases.llvm.org/9.0.0/tools/clang/docs/ClangFormatStyleOptions.html
# 
# Created by eddiecmchen on 2020/02/07
#

# 语言: None Cpp Java Objc Protp
Language: ObjC

# 基于那个配置文件
BasedOnStyle: WebKit

# 访问说明符的偏移(public private)

AccessModifierOffset: -4

# 括号之后,水平对齐参数: Align DontAlign AlwaysBreak
AlignAfterOpenBracket: Align

# 连续的赋值时,对齐所有的等号
AlignConsecutiveAssignments: false

# 连续声明时，对齐所有声明的变量名
AlignConsecutiveDeclarations: false

# 左对齐换行(使用反斜杠换行)的反斜杠 
AlignEscapedNewlinesLeft: true

# 水平对齐二元和三元表达式的操作数 
AlignOperands: true

# 对齐连续的尾随的注释  
AlignTrailingComments: true

# 允许函数声明的所有参数在放在下一行  
AllowAllParametersOfDeclarationOnNextLine: true

# 允许短的块放在同一行  
AllowShortBlocksOnASingleLine : false

# 允许短的case标签放在同一行
AllowShortCaseLabelsOnASingleLine: false

# 允许短的函数放在同一行: None, InlineOnly(定义在类中), Empty(空函数), Inline(定义在类中，空函数), All 
AllowShortFunctionsOnASingleLine: Empty

# 是否允许短if单行 If true, if (a) return; 可以放到同一行
AllowShortIfStatementsOnASingleLine: false

# 允许短的循环保持在同一行   
AllowShortLoopsOnASingleLine: false 

# 总是在定义返回类型后换行(deprecated)   
AlwaysBreakAfterDefinitionReturnType: None

# 每行字符的限制，0表示没有限制  
ColumnLimit: 150

# 描述具有特殊意义的注释的正则表达式，它不应该被分割为多行或以其它方式改变
CommentPragmas: '^ IWYU pragma:'

#指针的*的挨着哪边
PointerAlignment: Right

#缩进宽度
IndentWidth: 4

# 连续的空行保留几行
MaxEmptyLinesToKeep: 1

# 在 @property 后面添加空格, \@property (readonly) 而不是 \@property(readonly).
ObjCSpaceAfterProperty: true

# OC block后面的缩进
ObjCBlockIndentWidth: 4

# 是否允许短方法单行
AllowShortFunctionsOnASingleLine: false

# 换行的时候对齐操作符
#AlignOperands: true

# 中括号两边空格 [] 
SpacesInSquareBrackets: false

# 小括号两边添加空格
SpacesInParentheses : false

# 等号两边的空格
SpaceBeforeAssignmentOperators: true

# 容器类的空格 例如 OC的字典
SpacesInContainerLiterals: true

# 缩进
IndentWrappedFunctionNames: true

# 代码块从空行开始
KeepEmptyLinesAtTheStartOfBlocks: false

#括号后添加空格
SpaceAfterCStyleCast: false

# 允许排序#include, 造成编译错误
SortIncludes: false

# 缩进case 标签
IndentCaseLabels: true 

# 换行风格，包括函数体左扩号亦不换行
BreakBeforeBraces: Attach

#tab键盘的宽度
TabWidth: 4
UseTab: Never

---

# 语言: None Cpp Java Objc Protp
Language: Cpp

BasedOnStyle: Google
ColumnLimit: 100